body {
  background-image: url('../images/tile.png');
  color: #250701;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 100%;
}

h1, h2 {
  color: #250701;
}

h1 {
  text-align: center;
  margin: 50px 0 40px 0;
}

h2 {
  margin: 20px 0;
}

img.hr {
  margin: 20px auto;
}

img.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.polaroid {
  background: #EEE;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
  -moz-box-shadow: 1px 1px 3px #222;
  -webkit-box-shadow: 1px 1px 3px #222;
  box-shadow: 1px 1px 3px #222;
}

#about {
  margin-top: 20px;
}

#investments {
  margin-top: 20px;
}

.summary {
  margin-top: 20px;
}

.investment p {
  background-image: url('../images/investment.png');
  margin: 15px 0;
  padding: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 4px solid #6D4320;
  -moz-box-shadow: 0 1px 4px #000;
  -webkit-box-shadow: 0 1px 4px #000;
  box-shadow: 0 1px 4px #000;
}

.investment a {
  color: #250701;
  font-weight: bold;
}

.contact {
  margin: 20px 0 20px 0;
  text-align: center;
}

.email {
  margin-top: 20px;
}

#logo {
  font-size: 4em;
}

.profile p {
  text-align: justify;
}

#menu ul {
  margin-top: 20px;
  text-align: center;
  list-style: none;
}

#menu li {
  display: inline;
}

#menu a {
  margin: 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5em;
  color: #250701;
}

#menu a:hover {
  background: #B0925F;
  border-radius: 15px;
  -moz-border-radius: 15px;
}
