body {
  background-image: url('../images/tile.png');
  color: #250701;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 100%;
}

#logo {
  margin: 50px 0 20px 0;
  text-align: center;
  font-family: Calligraffitti, arial, serif;
  font-size: 4em;
  color: #250701;
}

#rocks {
  display: block;
  margin: 20px auto;
}

.profile img {
  display: block;
  margin: 20px auto 40px auto;
}

.profile p {
  text-align: justify;
}

.definition {
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  margin-top: 20px;
}

.definition li {
  text-align: left;
  padding: 0 20px;
}

#menu ul {
  margin-top: 20px;
  font-family: Calligraffitti, arial, serif;
  text-align: center;
  list-style: none;
}

#menu li {
  display: inline;
}

#menu a {
  margin: 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5em;
  color: #250701;
}

#menu a:hover {
  background: #B0925F;
  border-radius: 15px;
  -moz-border-radius: 15px;
}
